<%= params %>
<br>
<br>
<%= @session %>
<br>
<br>
<%= @bus_travel %>
<br>
<br>
<%= @search_result %>
<br>
<br>
<a href="/redirect_to_rr?client_token=<%= params['client_token'] %>">Redireccionando a la confirmaci&oacute;n del pago</a>